<%= form_for @movie, html: { multipart: true, class: "form-horizontal" } do |f| %>
    <% if @movie.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@movie.errors.count, "error") %>
            prohibited this article from being saved
          </h2>
          <ul>
            <% @movie.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :title, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :description, class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
          <%= f.text_area :description, class: "form-control" %>
        </div>
    </div>

    <div class="form-group">
      <%= f.label :director, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :director, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :actors, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :actors, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :tags_list, "Genre", class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :tags_list, value: @movie.tags_list.map(&:capitalize).join(", "), class: "form-control",
                         placeholder: "Genres separated with comma" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :runtime, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :runtime, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :budget, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :budget, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.file_field :cover %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>

<% end  %>