<div class="col-lg-4">
  <%= image_tag @movie.cover.url, style: "width: 100%" %><br/><br/>

  <%= link_to 'Back to movies list', movies_path %>
</div>

<div class="col-lg-8">
    <h1>
      <%= @movie.title %>
    </h1>

    <blockquote>
        <p>
          <%= @movie.description %>
        </p>
    </blockquote>

    <h4>
      <strong>Director:</strong>
      <%= @movie.director %>
    </h4>
    <h4>
      <strong>Actors:</strong>
      <%= @movie.actors %>
    </h4>
    <h4>
      <strong>Genre:</strong>
      <%= @movie.genre %>
    </h4>
    <h4>
      <strong>Runtime:</strong>
      <%= @movie.runtime %>
    </h4>
    <h4>
      <strong>Budget:</strong>
      <%= @movie.budget %>
    </h4>
</div>