<!DOCTYPE html>
<html>
<head>
  <title>Movie Express</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>

<div class="container">
  <div class="row">

    <% if notice  %>
        <div class="alert alert-dismissible alert-warning" id="notice"><%= notice %></div>
    <% end %>
    <% if alert %>
        <div class="alert alert-dismissible alert-danger" id="alert"><%= alert %></div>
    <% end %>

    <%= yield %>

  </div>
</div>

<%= render "layouts/footer" %>

<script>
    $("div#notice")
        .delay(3000)
        .queue(function(next){
            $(this).remove();
            next();
        });
    $("div#alert")
        .delay(3000)
        .queue(function(next){
            $(this).remove();
            next();
        });
</script>

</body>
</html>
